<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Repository接口 -->
<mapper namespace="com.agileEAP.workflow.repository.AgentItemRepository">
	<sql id="columns">
		ID as id,
		Type as type,
		RelatedBizID as relatedBizID,
		IsValid as isValid,
		AgentPrivilege as agentPrivilege,
		AgentID as agentID   
	</sql>
    
    <sql id="updateSetParams">
        <set>
            <if test="entity.id!=null">
                ID =#{model.id},
            </if>
            <if test="entity.type!=null">
                Type =#{model.type},
            </if>
            <if test="entity.relatedBizID!=null">
                RelatedBizID =#{model.relatedBizID},
            </if>
            <if test="entity.isValid!=null">
                IsValid =#{model.isValid},
            </if>
            <if test="entity.agentPrivilege!=null">
                AgentPrivilege =#{model.agentPrivilege},
            </if>
            <if test="entity.agentID!=null">
                AgentID =#{model.agentID},
            </if>
         </set>
	</sql>
    
    <sql id="updateWhereParams">
        <if test="parameters.id!=null">
            and ID =#{parameters.id}
        </if>
        <if test="parameters.type!=null">
            and Type =#{parameters.type}
        </if>
        <if test="parameters.relatedBizID!=null">
            and RelatedBizID =#{parameters.relatedBizID}
        </if>
        <if test="parameters.isValid!=null">
            and IsValid =#{parameters.isValid}
        </if>
        <if test="parameters.agentPrivilege!=null">
            and AgentPrivilege =#{parameters.agentPrivilege}
        </if>
        <if test="parameters.agentID!=null">
            and AgentID =#{parameters.agentID}
        </if>
        <if test="parameters._rawsql!=null">
            ${parameters._rawsql}
        </if>
    </sql>
        
    <sql id="whereParams">
        <if test="id  != null">
            and ID =#{id}
        </if>
        <if test="type!=null">
            and Type =#{type}
        </if>
        <if test="relatedBizID  != null">
            and RelatedBizID =#{relatedBizID}
        </if>
        <if test="isValid!=null">
            and IsValid =#{isValid}
        </if>
        <if test="agentPrivilege!=null">
            and AgentPrivilege =#{agentPrivilege}
        </if>
        <if test="agentID  != null">
            and AgentID =#{agentID}
        </if>
        <if test="_rawsql!=null">
            ${_rawsql}
        </if>
    </sql>
    
    <select id="get" parameterType="String" resultType="com.agileEAP.workflow.entity.AgentItem">
    	select 		
        <include refid="columns" />
    	from WF_AgentItem
    	where ID=#{id}
    </select>

    <insert id="save" parameterType="com.agileEAP.workflow.entity.AgentItem">
    	insert into  WF_AgentItem (
    	ID,Type,RelatedBizID,IsValid,AgentPrivilege,AgentID)
    	values (#{id},#{type},#{relatedBizID},#{isValid},#{agentPrivilege},#{agentID})
    </insert>

    <update id="update" parameterType="com.agileEAP.workflow.entity.AgentItem">
    	update WF_AgentItem set
    	Type=#{type},RelatedBizID=#{relatedBizID},IsValid=#{isValid},AgentPrivilege=#{agentPrivilege},AgentID=#{agentID}
    	where ID=#{id}
    </update>
    
     <update id="update" parameterType="map">
    	 update WF_AgentItem
        <include refid="updateSetParams"/>  
            where 1=1
        <include refid="updateWhereParams"/>
    </update>

    <delete id="delete" parameterType="String">
         delete from  WF_AgentItem where ID=#{id}
    </delete>   

    <delete id="batchDelete" parameterType="list">
    	<![CDATA[
    		delete from WF_AgentItem where ID in
    	]]>
    	<foreach collection="list" item="id" open="(" separator="," close=")">
    		#{id}
    	</foreach>
    </delete>
    
    <delete id="batchDelete" parameterType="map">
         delete from  WF_AgentItem where 1=1
         <include refid="whereParams"/>  
    </delete>
    
	<select id="search" parameterType="map" resultType="com.agileEAP.workflow.entity.AgentItem">
		select
        <include refid="columns" />
		from WF_AgentItem where 1=1
        <include refid="whereParams"/>  
        <if test="$orderby!=null">
			order by ${$orderby}
		</if>
	</select>
    
    <select id="count" parameterType="map" resultType="long">
		select count(*)
		from WF_AgentItem where 1=1
		<include refid="whereParams"/>
	</select>
    
    <select id="searchByPage" parameterType="map" resultType="com.agileEAP.workflow.entity.AgentItem">
		select
        <include refid="columns" />
		from WF_AgentItem where 1=1
        <include refid="whereParams"/>  
    </select>
</mapper>