<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Repository接口 -->
<mapper namespace="com.agileEAP.workflow.repository.ProcessFormRepository">
	<sql id="columns">
		ID as id,
		WorkItemID as workItemID,
		BizTable as bizTable,
		BizID as bizID,
		KeyWord as keyWord,
		CreateTime as createTime,
		Creator as creator   
	</sql>
    
    <sql id="updateSetParams">
        <set>
            <if test="entity.id!=null">
                ID =#{model.id},
            </if>
            <if test="entity.workItemID!=null">
                WorkItemID =#{model.workItemID},
            </if>
            <if test="entity.bizTable!=null">
                BizTable =#{model.bizTable},
            </if>
            <if test="entity.bizID!=null">
                BizID =#{model.bizID},
            </if>
            <if test="entity.keyWord!=null">
                KeyWord =#{model.keyWord},
            </if>
            <if test="entity.createTime!=null">
                CreateTime =#{model.createTime},
            </if>
            <if test="entity.creator!=null">
                Creator =#{model.creator},
            </if>
         </set>
	</sql>
    
    <sql id="updateWhereParams">
        <if test="parameters.id!=null">
            and ID =#{parameters.id}
        </if>
        <if test="parameters.workItemID!=null">
            and WorkItemID =#{parameters.workItemID}
        </if>
        <if test="parameters.bizTable!=null">
            and BizTable like '${parameters.bizTable}%'
        </if> 
        <if test="parameters.bizID!=null">
            and BizID =#{parameters.bizID}
        </if>
        <if test="parameters.keyWord!=null">
            and KeyWord like '${parameters.keyWord}%'
        </if> 
        <if test="parameters.beginCreateTime!=null">
            <![CDATA[ and CreateTime>= to_date('${parameters.beginCreateTime} 00:00:00','yyyy-MM-dd hh24:mi:ss')]]>
        </if>
    	    <if test="parameters.endCreateTime!=null">
            <![CDATA[ and CreateTime<= to_date('${parameters.endCreateTime} 23:59:59','yyyy-MM-dd hh24:mi:ss')]]>
        </if>
        <if test="parameters.creator!=null">
            and Creator like '${parameters.creator}%'
        </if> 
        <if test="parameters._rawsql!=null">
            ${parameters._rawsql}
        </if>
    </sql>
        
    <sql id="whereParams">
        <if test="id  != null">
            and ID =#{id}
        </if>
        <if test="workItemID  != null">
            and WorkItemID =#{workItemID}
        </if>
        <if test="bizTable!=null">
            and BizTable like '${bizTable}%'
        </if> 
        <if test="bizID  != null">
            and BizID =#{bizID}
        </if>
        <if test="keyWord!=null">
            and KeyWord like '${keyWord}%'
        </if> 
        <if test="beginCreateTime!=null">
            <![CDATA[ and CreateTime>= to_date('${beginCreateTime} 00:00:00','yyyy-MM-dd hh24:mi:ss')]]>
        </if>
    	    <if test="endCreateTime!=null">
            <![CDATA[ and CreateTime<= to_date('${endCreateTime} 23:59:59','yyyy-MM-dd hh24:mi:ss')]]>
        </if>
        <if test="creator!=null">
            and Creator like '${creator}%'
        </if> 
        <if test="_rawsql!=null">
            ${_rawsql}
        </if>
    </sql>
    
    <select id="get" parameterType="String" resultType="com.agileEAP.workflow.entity.ProcessForm">
    	select 		
        <include refid="columns" />
    	from WF_ProcessForm
    	where ID=#{id}
    </select>

    <insert id="save" parameterType="com.agileEAP.workflow.entity.ProcessForm">
    	insert into  WF_ProcessForm (
    	ID,WorkItemID,BizTable,BizID,KeyWord,CreateTime,Creator)
    	values (#{id},#{workItemID},#{bizTable},#{bizID},#{keyWord},#{createTime},#{creator})
    </insert>

    <update id="update" parameterType="com.agileEAP.workflow.entity.ProcessForm">
    	update WF_ProcessForm set
    	WorkItemID=#{workItemID},BizTable=#{bizTable},BizID=#{bizID},KeyWord=#{keyWord},CreateTime=#{createTime},Creator=#{creator}
    	where ID=#{id}
    </update>
    
     <update id="update" parameterType="map">
    	 update WF_ProcessForm
        <include refid="updateSetParams"/>  
            where 1=1
        <include refid="updateWhereParams"/>
    </update>

    <delete id="delete" parameterType="String">
         delete from  WF_ProcessForm where ID=#{id}
    </delete>   

    <delete id="batchDelete" parameterType="list">
    	<![CDATA[
    		delete from WF_ProcessForm where ID in
    	]]>
    	<foreach collection="list" item="id" open="(" separator="," close=")">
    		#{id}
    	</foreach>
    </delete>
    
    <delete id="batchDelete" parameterType="map">
         delete from  WF_ProcessForm where 1=1
         <include refid="whereParams"/>  
    </delete>
    
	<select id="search" parameterType="map" resultType="com.agileEAP.workflow.entity.ProcessForm">
		select
        <include refid="columns" />
		from WF_ProcessForm where 1=1
        <include refid="whereParams"/>  
        <if test="$orderby!=null">
			order by ${$orderby}
		</if>
	</select>
    
    <select id="count" parameterType="map" resultType="long">
		select count(*)
		from WF_ProcessForm where 1=1
		<include refid="whereParams"/>
	</select>
    
    <select id="searchByPage" parameterType="map" resultType="com.agileEAP.workflow.entity.ProcessForm">
		select
        <include refid="columns" />
		from WF_ProcessForm where 1=1
        <include refid="whereParams"/>  
    </select>
</mapper>