<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Repository接口 -->
<mapper namespace="com.agileEAP.security.repository.EmployeePositionRepository">
	<sql id="columns">
		ID as id,
		PositionID as positionID,
		EmployeeID as employeeID,
		IsMajor as isMajor   
	</sql>
    
    <sql id="whereParams">
        <if test="id  != null">
            and ID =#{id}
        </if>
        <if test="positionID  != null">
            and PositionID =#{positionID}
        </if>
        <if test="employeeID  != null">
            and EmployeeID =#{employeeID}
        </if>
        <if test="isMajor  != null">
            and IsMajor =#{isMajor}
        </if>
    </sql>
    
    <select id="get" parameterType="String" resultType="com.agileEAP.security.entity.EmployeePosition">
    	select 		
        <include refid="columns" />
    	from OM_EmployeePosition
    	where ID=#{id}
    </select>

    <insert id="save" parameterType="com.agileEAP.security.entity.EmployeePosition">
    	insert into  OM_EmployeePosition (
    	ID,PositionID,EmployeeID,IsMajor)
    	values (#{id},#{positionID},#{employeeID},#{isMajor})
    </insert>

    <insert id="update" parameterType="com.agileEAP.security.entity.EmployeePosition">
    	update OM_EmployeePosition set
    	PositionID=#{positionID},EmployeeID=#{employeeID},IsMajor=#{isMajor}
    	where ID=#{id}
    </insert>

    <delete id="delete" parameterType="String">
         delete from  OM_EmployeePosition where ID=#{id}
    </delete>   

    <delete id="batchDelete" parameterType="list">
    	<![CDATA[
    		delete from OM_EmployeePosition where ID in
    	]]>
    	<foreach collection="list" item="id" open="(" separator="," close=")">
    		#{id}
    	</foreach>
    </delete>
    
	<select id="search" parameterType="map" resultType="com.agileEAP.security.entity.EmployeePosition">
		select
        <include refid="columns" />
		from OM_EmployeePosition where 1=1
        <include refid="whereParams"/>
	</select>
    
    <select id="count" parameterType="map" resultType="long">
		select count(*)
		from OM_EmployeePosition where 1=1
		<include refid="whereParams"/>
	</select>
    
    <select id="searchByPage" parameterType="map" resultType="com.agileEAP.security.entity.EmployeePosition">
		select
        <include refid="columns" />
		from OM_EmployeePosition where 1=1
        <include refid="whereParams"/>
    </select>
</mapper>