<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Repository接口 -->
<mapper namespace="com.agileEAP.security.repository.RoleRepository">
	<sql id="columns">
		ID as id,
		Name as name,
		Description as description,
		OrgID as orgID,
		Creator as creator,
		CreateTime as createTime   
	</sql>
    
    <sql id="whereParams">
        <if test="id  != null">
            and ID =#{id}
        </if>
        <if test="name  != null">
            and Name like '${name}%'
        </if> 
        <if test="description  != null">
            and Description like '${description}%'
        </if> 
        <if test="orgPath  != null">
            and orgID like '${orgID}%'
        </if> 
        <if test="creator  != null">
            and Creator like '${creator}%'
        </if> 
        <if test="beginCreateTime!=null">
            <![CDATA[ and CreateTime>= to_date('${beginCreateTime} 00:00:00','yyyy-MM-dd hh24:mi:ss')]]>
        </if>
    	    <if test="endCreateTime!=null">
            <![CDATA[ and CreateTime<= to_date('${endCreateTime} 23:59:59','yyyy-MM-dd hh24:mi:ss')]]>
        </if>
    </sql>
    
    <select id="get" parameterType="String" resultType="com.agileEAP.security.entity.Role">
    	select 		
        <include refid="columns" />
    	from AC_Role
    	where ID=#{id}
    </select>

    <insert id="save" parameterType="com.agileEAP.security.entity.Role">
    	insert into  AC_Role (
    	ID,Name,Description,orgID,Creator,CreateTime)
    	values (#{id},#{name},#{description},#{orgID},#{creator},#{createTime})
    </insert>

    <insert id="update" parameterType="com.agileEAP.security.entity.Role">
    	update AC_Role set
    	Name=#{name},Description=#{description},orgID=#{orgID},Creator=#{creator},CreateTime=#{createTime}
    	where ID=#{id}
    </insert>

    <delete id="delete" parameterType="String">
         delete from  AC_Role where ID=#{id}
    </delete>   

    <delete id="batchDelete" parameterType="list">
    	<![CDATA[
    		delete from AC_Role where ID in
    	]]>
    	<foreach collection="list" item="id" open="(" separator="," close=")">
    		#{id}
    	</foreach>
    </delete>
    
	<select id="search" parameterType="map" resultType="com.agileEAP.security.entity.Role">
		select
        <include refid="columns" />
		from AC_Role where 1=1
        <include refid="whereParams"/>
	</select>
    
    <select id="count" parameterType="map" resultType="long">
		select count(*)
		from AC_Role where 1=1
		<include refid="whereParams"/>
	</select>
    
    <select id="searchByPage" parameterType="map" resultType="com.agileEAP.security.entity.Role">
		select
        <include refid="columns" />
		from AC_Role where 1=1
        <include refid="whereParams"/>
    </select>
</mapper>