<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Repository接口 -->
<mapper namespace="com.agileEAP.security.repository.ShortcutRepository">
	<sql id="columns">
		ID as id,
		OperatorID as operatorID,
		PrivilegeID as privilegeID,
		SortOrder as sortOrder,
		Icon as icon   
	</sql>
    
    <sql id="whereParams">
        <if test="id  != null">
            and ID =#{id}
        </if>
        <if test="operatorID  != null">
            and OperatorID =#{operatorID}
        </if>
        <if test="privilegeID  != null">
            and PrivilegeID =#{privilegeID}
        </if>
        <if test="beginSortOrder!=null">
            <![CDATA[ and  SortOrder >=#{ beginSortOrder}]]>
        </if>
    	    <if test="endSortOrder!=null">
            <![CDATA[ and  SortOrder <=#{ endSortOrder}]]>
         </if>      
        <if test="icon  != null">
            and Icon like '${icon}%'
        </if> 
    </sql>
    
    <select id="get" parameterType="String" resultType="com.agileEAP.security.entity.Shortcut">
    	select 		
        <include refid="columns" />
    	from AC_Shortcut
    	where ID=#{id}
    </select>

    <insert id="save" parameterType="com.agileEAP.security.entity.Shortcut">
    	insert into  AC_Shortcut (
    	ID,OperatorID,PrivilegeID,SortOrder,Icon)
    	values (#{id},#{operatorID},#{privilegeID},#{sortOrder},#{icon})
    </insert>

    <insert id="update" parameterType="com.agileEAP.security.entity.Shortcut">
    	update AC_Shortcut set
    	OperatorID=#{operatorID},PrivilegeID=#{privilegeID},SortOrder=#{sortOrder},Icon=#{icon}
    	where ID=#{id}
    </insert>

    <delete id="delete" parameterType="String">
         delete from  AC_Shortcut where ID=#{id}
    </delete>   

    <delete id="batchDelete" parameterType="list">
    	<![CDATA[
    		delete from AC_Shortcut where ID in
    	]]>
    	<foreach collection="list" item="id" open="(" separator="," close=")">
    		#{id}
    	</foreach>
    </delete>
    
	<select id="search" parameterType="map" resultType="com.agileEAP.security.entity.Shortcut">
		select
        <include refid="columns" />
		from AC_Shortcut where 1=1
        <include refid="whereParams"/>
	</select>
    
    <select id="count" parameterType="map" resultType="long">
		select count(*)
		from AC_Shortcut where 1=1
		<include refid="whereParams"/>
	</select>
    
    <select id="searchByPage" parameterType="map" resultType="com.agileEAP.security.entity.Shortcut">
		select
        <include refid="columns" />
		from AC_Shortcut where 1=1
        <include refid="whereParams"/>
    </select>
</mapper>