/*=站点布局样式=*/
html, body {
    margin: 0px 1px;
    height: 100%;
}

#masterpage {
    width: 100%;
    height: 100%;
    margin: 0 auto; /* FF居中*/
}
/*=头部=*/
#header {
    height: 75px;
    _height: 78px; /*_ie6有效*/
    background: url(images/header_bg.png) top left repeat-x;
    position: relative;
}
    /*=公司系统Logo=*/
    #header #logo {
        float: left;
        width:115px;
        height:74px;
        background-image: url(images/logo.png);
		background-repeat: no-repeat;
    }
    #header #syslogo {
        float: left;
        width:376px;
        height:74px;        
        background-image: url(images/syslogo.png);
		background-repeat: no-repeat;
    }    
    /*=登录用户信息=*/
    #header #info {
        position: absolute;
        right: 20px;
        top: 40px;
        overflow: visible;
        line-height: 20px;
        color: White;
        font-family: "微软雅黑", "黑体", "宋体";
		font-size: 13px;
    }

        #header #info a {
            cursor: pointer;
            color: White;
        }

        #header #info li {
            float: left;
            list-style: none;
            margin: 5px;
        }
    /*=主题控件=*/
    #header #skinCenter ul {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999999;
    }

    #header #skinCenter {
        position: relative;
    }
    /*=主题文字=*/
    #header .style_center {
        margin-top: 0px;
        padding-top: 0px;
        line-height: 15px;
        height: 15px;
        width: 28px;
        z-index: 2000;
    }

    #header .style_switcher {
        margin: 0;
        padding: 5px 0;
        background-color: #EEF3F7;
        border: 1px solid #A5B6C8;
    }
    /*=颜色选择=*/
    #header .switcher {
        border: 1px outset #888888;
        cursor: pointer;
        height: 10px; /*	list-style-position: inside;*/
        list-style-type: none;
        margin-right: 5px;
        overflow: hidden;
        width: 28px;
        margin-left: 5px;
        clear: both;
        height: 15px;
        margin-bottom: 2px;
        position: relative;
    }
    /*=主题=*/
    #header #Blue {
        background-color: Blue;
        color: Black;
    }

    #header #default {
        background-color: Silver;
        color: Red;
    }

    #header #green {
        background-color: Green;
        color: Black;
    }

    #header #darkBlue {
        background-color: ThreeDDarkShadow;
        color: Black;
    }

/*=导航菜单=*/
#headerMenu {
    height: 28px;
    overflow: hidden;
    background: url(images/menu/menu_bg.png) repeat-x left top;
    border-color: #ECDEBB;
    margin: 0px;
    padding:3px;
}

    #headerMenu li {
        float: left;
        list-style-type: none;
        cursor: pointer;
        display: inline;
        height: 22px;
        padding-top: 3px;
        border: 1px;
        border-radius: 3px;
        font-family: "微软雅黑", "黑体", "宋体";
        padding-left: 5px;
        padding-right: 5px;
		font-size: 14px;
		font-weight: bold;
    }
        #headerMenu li a {
            color: #375e06;
        }

/*=当前菜单=*/
.currentmenu {
    background-image: url(images/menu/item_bg.png);
    background-color: #81b53b;
}

    .currentmenu a {
       color: rgba(90, 173, 64, 1);
    }
/*当前位置*/
.currentmenu_li {
    border-left: #2C59AA 1px solid;
    border-bottom: #2C59AA 1px solid;
    border-right: #2C59AA 1px solid;
    border-top: #2C59AA 1px solid;
    background-color: #C3DAF5;
}

.currentmenu_a {
    text-decoration: none;
}

.disablemenu
{
	background-color: #bdbdbc;
	border-radius: 0px;
}

.disablemenu li
{
	
}

/*=中间容器=*/
#mainbody {
    height: 86%;
    overflow: hidden;
}

/*=导航区=*/
#navRegion {
    float: left;
    width: 189px;
    height: 100%;
}

    #navRegion #navTop {
        background: url(images/navigate/top_bg.png) top left no-repeat;
        height: 34px;
        line-height: 36px;
    }

        #navRegion #navTop #navTitle {
            margin: 2px 2px 0px 2px;
            color: #434343;
            position: relative;
            bottom: 4px;
        }

    #navRegion #navbg {
        width: 96%;
        height: 98%;
        background-color: #69a31e;
        border: 0px;
        border-left: 1px #bfbfbf solid;
        border-bottom: 1px #bfbfbf solid;
        border-right: 1px #bfbfbf solid;
        padding: 0px 3px 3px 3px;
        float: left;
        display: inline;
    }

    #navRegion #navContent {
        background-color: #FFF;
        border: 1px #b7b7b7 solid;
        height: 94%;
    }

    #navRegion #ifrNav {
        height: 100%;
        width: 100%;
        float: left;
        margin-right: 0;
    }

#splitBar {
    float: left;
    z-index: 20;
    cursor: col-resize;
    display: inline;
    overflow: hidden;
    width: 4px;
    background: #E5EDEF;
    height: 100%;
}

/*=内容区=*/
#contentRegion {
    margin-left: 5px;
    height: 100%;
    overflow: hidden;
}

    /*=内容iframe=*/
    #contentRegion #ifrContent {
        height: 100%;
        text-align: center;
        border: 0;
        background-color: White; /*margin-top:10px;*/
    }

/*=底部=*/
#footer {
    width: 100%;
    height: 15px;
    border: 0px;
    text-align: center;
    vertical-align: bottom;
}

.clear {
    border: medium none;
    clear: both;
    float: none;
    font-size: 0;
    height: 0;
    line-height: 0;
}
