/* CSS Document */
body{font-family:Arial,Verdana, sans-serif, Helvetica;font-size:12px;margin:0px;}
body,html{height:100%;}

/*----login---------------------------*/
.login{ background-color:#FFFFFF; font-size:12px; min-width:1002px;}
.login_head{display:block; width:100%; height:109px; background-color:#ffffff; margin:0px; padding:0px; float:left;}
.login_head1{display:inline; background-image:url(../../themes/default/images/login/login_logo.png); background-repeat:no-repeat; width:167px; height:109px; margin:0px; padding:0px; float:left;}
.login_head2{display:inline; background-image:url(../../themes/default/images/login/login_logo1.png); background-repeat:no-repeat; width:481px; height:109px; margin:0px; padding:0px; float:left;}

.login_content{display:block; width:100%; margin:0px; padding:0px; float:left;}
.login_contentbg{display:block; background-image:url(../../themes/default/images/login/login_bg.png); background-repeat:repeat-x; width:100%; height:417px; margin:0px; padding:0px; float:left;}
.login_datu{display:inline; width:691px; height:417px; margin-left:10%; padding:0px; float:left;}

.login_contentright{display:block; width:315px; height:403px; margin:50px 0px 0px 80px; padding:0px; float:left;}
.login_contentright1{display:inline; background-repeat:no-repeat; margin:0px; padding:0px; float:left;}
*html .login_contentright1 {
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../../themes/default/images/login/login_contentright1.png");
background:none;
}
.login_contentright2{display:inline; background-image:url(../../themes/default/images/login/login_contentright2.png); background-repeat:no-repeat; width:315px; height:72px; margin:0px; padding:0px; float:left;}
.login_contentrightbg{display:inline; background-image:url(../../themes/default/images/login/login_contentrightbg.png); background-repeat:repeat-y; width:315px; height:315px; margin:0px; padding:0px; float:left;}
.login_contentright3{display:inline; background-image:url(../../themes/default/images/login/login_contentright3.png); background-repeat:no-repeat; width:315px; height:11px; margin:0px; padding:0px; float:left;}
.*html .login_contentright3 {
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../../themes/default/images/login/login_contentright3.png");
background:none;
}
.login_contentusera{display:block; width:315px; text-align:left; margin:45px 0px 0px 0px; padding:0px; float:left;}
.login_contentuser1{display:inline; width:80px; text-align:right; color:#365e06; margin:5px 0px 0px 0px; padding:0px; float:left;}
.login_contentuser2{display:inline; width:220px; text-align:left; color:#365e06; margin:0px; padding:0px; float:left; }
.login_contentuser2{display:inline; width:100px; text-align:left; color:#365e06; margin:0px; padding:0px; float:left; }
.login_contentuserb{display:block; width:315px; text-align:left; margin:16px 0px 0px 0px; padding:0px; float:left;}
.login_contentuserc{display:block; width:315px; text-align:left; margin:16px 0px 0px 0px; padding:0px; float:left;}
.login_contentuser3{display:block; margin:0px 0px 0px 9px; padding:0px; float:left;}

.login_contentbtn{display:block; width:315px; height:31px; margin:40px 0px 0px 0px;; padding:0px; float:left;}
.login_contenbtn1{display:inline; margin:0px 0px 0px 80px; padding:0px; float:left;}
.login_contenbtn2{display:inline; margin:0px 0px 0px 15px; padding:0px; float:left;}

.login_contentxw{display:block; width:315px; margin:0px; padding:0px; float:left;}
.login_contenx{display:inline; width:315px; height:41px;  border-bottom:1px; border-left:0px; border-right:0px; border-top:0px; border-color:#93c15d; border-style:dashed; margin:0px; padding:0px; float:left;}
.login_contenw{display:inline; width:315px; text-align:center; color:#365e06; margin:22px 0px 0px 0px; padding:0px; float:left;}

.login_foot{display:block; width:100%; height:117px; margin:20px 0px 0px 0px; padding:0px; float:left;}
.login_foot1{display:inline; background-image:url(../../themes/default/images/login/login_foot1.png); background-repeat:no-repeat; width:177px; height:117px; margin-left:26%; margin-right:0px; margin-bottom:0px; margin-top:0px; padding:0px; float:left;}
.login_foot2{display:inline; background-image:url(../../themes/default/images/login/login_foot2.png); background-repeat:no-repeat; width:3px; height:117px; margin:0px 80px 0px 80px; padding:0px; float:left;}
.login_foot3{display:inline; background-image:url(../../themes/default/images/login/login_foot3.png); background-repeat:no-repeat; width:151px; height:117px; margin:0px; padding:0px; float:left;}

/*










 








