<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Repository接口 -->
<mapper namespace="com.agileEAP.workflow.repository.TransControlRepository">
	<sql id="columns">
		ID as id,
		SrcActID as srcActID,
		SrcActName as srcActName,
		DestActID as destActID,
		DestActName as destActName,
		ProcessInstID as processInstID,
		TransTime as transTime,
		TransWeight as transWeight   
	</sql>
    
    <sql id="whereParams">
        <if test="id  != null">
            and ID =#{id}
        </if>
        <if test="srcActID  != null">
            and SrcActID =#{srcActID}
        </if>
        <if test="srcActName  != null">
            and SrcActName like '${srcActName}%'
        </if> 
        <if test="destActID  != null">
            and DestActID =#{destActID}
        </if>
        <if test="destActName  != null">
            and DestActName like '${destActName}%'
        </if> 
        <if test="processInstID  != null">
            and ProcessInstID =#{processInstID}
        </if>
        <if test="beginTransTime!=null">
            <![CDATA[ and TransTime>= to_date('${beginTransTime} 00:00:00','yyyy-MM-dd hh24:mi:ss')]]>
        </if>
    	    <if test="endTransTime!=null">
            <![CDATA[ and TransTime<= to_date('${endTransTime} 23:59:59','yyyy-MM-dd hh24:mi:ss')]]>
        </if>
        <if test="beginTransWeight!=null">
            <![CDATA[ and  TransWeight >=#{ beginTransWeight}]]>
        </if>
    	    <if test="endTransWeight!=null">
            <![CDATA[ and  TransWeight <=#{ endTransWeight}]]>
         </if>      
    </sql>
    
    <select id="get" parameterType="String" resultType="com.agileEAP.workflow.entity.TransControl">
    	select 		
        <include refid="columns" />
    	from WF_TransControl
    	where ID=#{id}
    </select>

    <insert id="save" parameterType="com.agileEAP.workflow.entity.TransControl">
    	insert into  WF_TransControl (
    	ID,SrcActID,SrcActName,DestActID,DestActName,ProcessInstID,TransTime,TransWeight)
    	values (#{id},#{srcActID},#{srcActName},#{destActID},#{destActName},#{processInstID},#{transTime},#{transWeight})
    </insert>

    <insert id="update" parameterType="com.agileEAP.workflow.entity.TransControl">
    	update WF_TransControl set
    	SrcActID=#{srcActID},SrcActName=#{srcActName},DestActID=#{destActID},DestActName=#{destActName},ProcessInstID=#{processInstID},TransTime=#{transTime},TransWeight=#{transWeight}
    	where ID=#{id}
    </insert>

    <delete id="delete" parameterType="String">
         delete from  WF_TransControl where ID=#{id}
    </delete>   

    <delete id="batchDelete" parameterType="list">
    	<![CDATA[
    		delete from WF_TransControl where ID in
    	]]>
    	<foreach collection="list" item="id" open="(" separator="," close=")">
    		#{id}
    	</foreach>
    </delete>
    
	<select id="search" parameterType="map" resultType="com.agileEAP.workflow.entity.TransControl">
		select
        <include refid="columns" />
		from WF_TransControl where 1=1
        <include refid="whereParams"/>  
        <if test="$orderby!=null">
			order by ${$orderby}
		</if>
	</select>
    
    <select id="count" parameterType="map" resultType="long">
		select count(*)
		from WF_TransControl where 1=1
		<include refid="whereParams"/>
	</select>
    
    <select id="searchByPage" parameterType="map" resultType="com.agileEAP.workflow.entity.TransControl">
		select
        <include refid="columns" />
		from WF_TransControl where 1=1
        <include refid="whereParams"/>  
    </select>
</mapper>